html {
	font-size:62.5%;
}

body {
	position:relative;

}

.wrapper {
	
	background:#131313;
	height:100vh;

}

.main_grid {
	
	height:100vh;
	max-height:62.50000vw;
	position:fixed;
	width:100%;
}

.main_grid .row {
	height:25.00000%;
	display:flex;
	height:calc((100% - 31.32812vw) / 2);
}

.main_grid .row:nth-of-type(2) {
	height:50%;
	border:1px #2a2a2a solid;
	border-left:none;
	border-right:none;
	box-sizing: border-box;
	height:31.32812vw;
}

.main_grid .row .center {
	border:1px #2a2a2a solid;
	border-top:none;
	border-bottom:none;
	box-sizing:border-box;
}

.main_grid .row > div {
	width:20.00000%;
}

.main_grid .row > div.center {
	width:60%;
	position:relative;
}

.projects-container {
	width:100%;
	height:100%;
	
}

.project {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	background:#131313;
	opacity:0;
	transition: opacity 1s ease;
}

.project.active {
	opacity:1;
	z-index:100;
}



.project .img {
	background-position: center center;
	background-size:cover;
	background-repeat:no-repeat;
	position:absolute;
	width:66.66667%;
	height:50%;
}

.project .img_left {
	background-image:url(../img/index-page/project_img_left.jpg);
	opacity:0.75;
}



.project .img_right {
	background-image:url(../img/index-page/project_img_right.jpg);
	opacity:0.2;
	bottom:0;
	right:0;
}

.project .title {
	font-size:12.1rem;
	font-size:8.86719vw;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	color:#ffffff;
	font-family:'Graphik LCG Semibold';
	margin:0;
	padding:0;
	letter-spacing:-0.03500em;
	text-align:center;
}



.logo {
	position:fixed;
	font-family:'Exodus - Personal Use Sharpen';
	font-size:1.92094rem;
	color:#f2f2f0;
	text-decoration: none;
	left:6.28906%;
	top:8.18750%;
	font-size:1.40625vw;
}

.menu_opener {
	font-family:'Graphik LCG Regular';
	color:#f2f2f0;
	font-size:0.82031vw;
	letter-spacing:0.02500em;
	cursor:pointer;
	transform:rotate(-90deg) translate(-50%, 50%);

	position:fixed;
	right:6.28906%;
	top:8.18750%;
	transition:0.5s all ease;
}

.menu_opener:hover {
	transform:rotate(-90deg) translate(-0%,50%);
}

.scroll_down_arrow {
	position:absolute;
	width:0.35156vw;
	left:6.28906%;
	bottom:8.18750%;
	cursor:pointer;
	transition:0.5s all ease;
	min-width:9px;
}

.scroll_down_arrow:hover {
	transform:translateY(50%);
}

.statistics {
	position:absolute;
	right:6.28906%;
	bottom:8.18750%;
	cursor:pointer;
	width:0.58594vw;
	min-width:15px;
}